.committee {
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
}
.candidate {
    background-color: lightyellow;
}
.candidate__affiliation {
    background-color: red;
    color: snow;
}
.candidate__name {
    font-weight: bold;
    font-size: 18px;
}